* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr 7fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "titleBar titleBar"
    "timeBar timeBar"
    "control control";

  height: 90vh;
  padding-left: 25em;
  padding-right: 25em;
  padding-top: 2em;
  padding-bottom: 3em;
  margin: 0px;

  background-image: url("./images/backgroundWhite.jpg");
  background-size: auto;

  overflow-y: hidden;
  
}

.elessar-handle {
  display: block;
  background: black;
  height: 100%;
  width: 5px;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  bottom: 0;
}

.elessar-handle:first-child {
  left: 0;
}

.elessar-handle:last-child {
  right: 0;
}

.elessar-vertical .elessar-handle {
  height: 5px;
  width: 100%;
  left: 0;
  right: 0;
  top: auto;
  bottom: auto;
  cursor: ns-resize;
}

.elessar-vertical .elessar-handle:first-child {
  top: 0;
}

.elessar-vertical .elessar-handle:last-child {
  bottom: 0;
}

.elessar-indicator {
  position: absolute;
  background: black;
  border-color: white;
  border-style: solid;
  border-width: 0 1px;
  width: 2px;
  height: 100%;
  z-index: 15;
}

.elessar-vertical .elessar-indicator {
  width: 100%;
  height: 2px;
}

.elessar-range {
  position: absolute;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #66B2FF;
  color: white;
  width: 0;
  z-index: 10;
}

.elessar-range.selected {
  font-weight: bold;
}

.elessar-vertical .elessar-range {
  width: auto;
  height: 0;
}

.elessar-label {
  position: absolute;
  z-index: 5;
  pointer-events: none;
  border-left: 1px solid #999;
  padding-left: 10px;
}

.elessar-readonly {
  opacity: 0.6;
  cursor: default !important;
}

.elessar-phantom {
  background-color: transparent;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer !important;
}

.elessar-rangebar {
  position: relative;
  height: 70px;
  line-height: 70px;
  background-color: rgb(239, 239, 239);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
  border: 2px solid darkgrey;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
}

body.elessar-resizing,
body.elessar-dragging {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.elessar-resizing,
body.elessar-resizing .bar,
body.elessar-resizing .handle {
  cursor: ew-resize !important;
}

body.elessar-resizing.elessar-resizing-vertical,
body.elessar-resizing.elessar-resizing-vertical .bar,
body.elessar-resizing.elessar-resizing-vertical .handle {
  cursor: ns-resize !important;
}

body.elessar-dragging,
body.elessar-dragging .bar,
body.elessar-dragging .handle {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

.meeting {
  background-color: #518ECC;
}

.interview {
  background-color: #3D6B99;
}

#create-form-1 {
  grid-area: addT
}

#edit-form {
  grid-area: editT;
}

#importsAndExports {
  grid-area: importExport;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: rgb(239, 239, 239);
  text-align: center;
}

.inputForm {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  
  margin: 1em;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  border-radius: 25px;
  height: 29%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4px;


}

.container {
  background-color: rgb(239, 239, 239);
  grid-area: control;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  border-radius: 25px;
  text-align: center;
  padding: 5px;
  padding-bottom: 20px;
  background-image: url("./images/backgroundBlue.jpg");
  background-size: 100%;
}

.sliderContainer {
  grid-area: timeBar;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  border-radius: 25px;
  background-color: rgb(239, 239, 239);
  margin-bottom: 10px;
  vertical-align: middle;
}

#sliders {
  padding-left: 10px;
  padding-right: 10px;
  grid-area: timeBar;
}

button {
  width: 15%;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
  border: none;
  font-size: larger;
  -webkit-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
}

input[type=file] {
  width: 25%;
  background-color: rgb(239, 239, 239);
  border: none;
  border-radius: 25px;
  font-size: larger;
  padding-left: 15px;
  -webkit-box-shadow: 4px 4px 8px -1px rgb(97, 97, 97, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
  box-shadow: 4px 4px 8px -1px rgba(97, 97, 97, 1);
}

button:hover,
input[type=file]:hover {

  -webkit-box-shadow: 4px 4px 8px -1px rgba(40, 40, 40, 1);
  -moz-box-shadow: 4px 4px 8px -1px rgba(40, 40, 40, 1);
  box-shadow: 4px 4px 8px -1px rgba(40, 40, 40, 1);
}

.elessar-barlabel {
  text-align: center;
}

h4 {
  margin: 5px;
}

.holder {
  position: relative;
  top: 30%;
}

.titleBarBox {
  text-align: left;
  grid-area: titleBar;
}

h1 {
  color: #4676A5;
  border-bottom: 2px solid #646464;
  font-size: xx-large;
  padding-left: 3%;
}

.form-group {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  padding: 5px;
}

@media (max-width:900px) {
  body {
    display: grid;
    grid-template-rows: 1fr 1.5fr 6fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titleBar titleBar"
      "timeBar timeBar"
      "control control";
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    height: 100%;
    overflow-y: scroll;
  }

  button {
    width: 50%;
  }

  .titleBarBox {
    grid-area: titleBar;
  }

  #sliders {
    grid-area: timeBar;
  }

  .container {
    grid-area: control;
  }

  .inputForm {
    padding: 10px;
  }

  input[type=file] {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width:600px) {
  body {
    display: grid;
    grid-template-rows: 0.5fr 0.8fr 5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titleBar titleBar"
      "timeBar timeBar"
      "control control";
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    overflow-y: scroll;
    height: 100%;
  }

  button {
    width: 50%;
  }

  input[type=file] {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h1 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .titleBarBox {
    grid-area: titleBar;
  }

  #sliders {
    grid-area: timeBar;
  }

  .container {
    grid-area: control;
  }

  .inputForm {
    padding: 5px;
  }
}